<div class="page-header">
    <h1>{{ page.title }} 
    {% if page.tagline %}
     
        <small>{{ page.tagline }}</small>
        {% endif %}
  </h1>
</div>

<div class="row">
    <div class="span12">
        {{ content }}
   
        {% if page.category %}
                  <div>
                      Posted in
                  <ul class="tag_box inline">

                      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.category }}-ref">{{ page.category }}</a>
                      </li>

                  </ul>
                  </div>
        {% endif %}   

                {% unless page.tags == empty %}
                  <div>
                      Tagged with
                          <ul class="tag_box inline">
                              {% assign tags_list = page.tags %}
                            {% include JB/tags_list %}
                          </ul>
                  </div>
        {% endunless %}  

        <hr>
        <div class="pagination btn-group">
            {% if page.previous %}
       
            <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
            {% else %}
       
            <a class="btn disabled prev">&larr; Previous</a>
            {% endif %}
       
            <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
            {% if page.next %}
       
            <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
            {% else %}
       
            <a class="btn next disabled">Next &rarr;</a>
            {% endif %}
   
        </div>

        <hr>
        {% include JB/comments %}
 
    </div>

</div>
